.footer {
    background-image: url("../images/footer-bkg-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right 0% bottom 0%;
  }
  .upper-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lower-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bottom-nav {
    display: flex;
  }
  .bottom-nav p {
    margin-right: 10px;
  }
  .social-icons img {
    margin-left: 10px;
  }
  .upper-footer-wrapper-lefthandside-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 30px;
    color: #939ea4;
  }
  .upper-footer-wrapper-center-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
    color: #37447e;
  }
  .upper-footer-wrapper-right-btn {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #111b47;
    border-radius: 5px;
    width: 109px;
    height: 26px;
  }
  .bottom-nav p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #929ecc;
  }